* {
    color: rgb(14, 13, 13);
}

.secondary-color {
    color: #767474;
}

a,
i {
    text-decoration: none;
}

.center-image {
    background-size: cover;
    background-position: center;
}

.btn {
    text-decoration: none;
    background-color: #141414;
    color: #fff;
    padding: 7px 18px;
    border-radius: 0px;
}

.btn:hover {
    background-color: #615f5f;
    color: #fff;
}

/*Header*/
#header {
    text-align: center;
    padding: 0px 0px 0px 0px;
    opacity: 0.98;
    

}



#logo {
    height: 60px;
    margin-right: 10px;
}

li {
    padding-left: 35px;
}

nav {
    height: 90px;
    background-color: rgb(254, 254, 254);
    


}

.carousel {
    padding: 100px 0px 0px 0px;
}

.nav-item {
    font-size: 20px;
}

#navbar a:hover {
    color: #c1b696;
}


.carousel-item {
    margin-bottom: 40px;
    position: relative;
}

.main-image-info {
    background-color: #fff;
    padding: 15px;
    position: absolute;
    bottom: 25px;
    left: 25px;

}

.small-image {
    height: 250px;

}

.image1 {
    background-image: url("img/agency/g_2.jpg");
}

.image2 {
    background-image: url("img/agency/g_3.jpg");
}

.image3 {
    background-image: url("img/agency/g_4.jpg");
}

.image4 {
    background-image: url("img/agency/g_5.jpg");
}

.image5 {
    background-image: url("img/agency/g_6.jpg");
}

.image6 {
    background-image: url("img/agency/g_7.jpg");
}

#gallery-container h1 {
    text-align: center;

}

#gallery-container {
    margin-bottom: 15px;
}

.col-12,
.col-md-6,
#gallery-container h1 {
    margin-bottom: 20px;
}

.col-12 h3,
.col-12 p {
    margin-bottom: 5px;
}

footer {
    border-top: 1px solid #ccc;
    padding-top: 12px;
}

.copy {
    text-align: center;
    font-size: 15px;
}

footer i {
    font-size: 20px;

}

#social-media-icons-container {
    padding: 25px;

}

#social-media-icons-container div {
    text-align: center;
}